== render 'part/nav'

== render 'address/information'

- if !@address.votes_dist.to_h.empty?
  == render 'address/votes'

- if @transactions && !@transactions.empty?
  == render 'transactions'

== render 'debug'
