@media (min-width: 768px) {
  .dl-horizontal dt {
    float: left;
    width: 200px;
    clear: left;
    text-align: right;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .dl-horizontal dd {
    margin-left: 220px;
  }
}

@media (max-width: 767px) {
  .dl-horizontal dl { position: relative }
  .dl-horizontal dd, .dl-horizontal dt {
    display: inline-block;
    vertical-align: middle;
    line-height: 100%;
    margin-bottom: 0.8em;
  }
  .dl-horizontal dd {
    width: 80%;
    word-wrap: break-word;
  }
  .dl-horizontal dt {
    width: 19%;
    text-align: right;
    padding-right: 0.2rem;
  }

  .card-body { padding: 0.5rem }
  .votes table td:nth-of-type(2) a {
    font-size: 75%;
  }
  .votes table td { padding-top: 0; padding-bottom: 0; margin-bottom: 0 }
  .delegates-list table td:last-child, .delegates-list table th:last-child { display: none; }
  .votes-for-delegate td.percent-bar { display: none; }
}

@media (max-width: 899px) {
  .transactions table, .transactions thead, .transactions tbody, .transactions tr {
    display: block;
    position: relative;
  } 
  .transactions tr {
    border-bottom: 1px solid #999;
  }
  .transactions td, .transactions th {
    display: inline-block;
    width: 33.333%;
    text-align: left;
  }
  .transactions td { padding: 0; white-space: nowrap; }
  .transactions tr { padding: 0.4rem 0; }

  .transactions td:nth-of-type(1) { width: 40%; }
  .transactions td:nth-of-type(2) { width: 40%; }
  .transactions td:nth-of-type(3) { width: 20%; }
  .transactions td:nth-of-type(4) { width: 35%; }
  .transactions td:nth-of-type(5) { width: 35%; }
  .transactions td:nth-of-type(6) { width: 30%; }

  .transactions td:nth-of-type(1):before { content: "Hash: "; font-size: 75% }
  .transactions td:nth-of-type(3) { text-align: right; }
  .transactions td:nth-of-type(6) { text-align: right; }
  .transactions td:nth-of-type(4):before { content: "From: "; font-size: 75% }
  .transactions td:nth-of-type(5):before { content: "To: "; font-size: 75% }
  .transactions td time { font-size: 75% }
  .transactions thead { display: none }
}

body {
  max-width: 900px;
  margin: 0 auto;
}

.align-10 { padding-right: 10ch !important }
.align-9 { padding-right: 9ch !important }
.align-8 { padding-right: 8ch !important }
.align-7 { padding-right: 7ch !important }
.align-6 { padding-right: 6ch !important }
.align-5 { padding-right: 5ch !important }
.align-4 { padding-right: 4ch !important }
.align-3 { padding-right: 3ch !important }
.align-2 { padding-right: 2ch !important }
.align-1 { padding-right: 1ch !important }
.align-0 { padding-right: 0ch !important }

tfoot {
  border-top: 1px solid #aaa;
  color: #fff;
}
.align-sem {
  display: inline-block;
  width: 20ch;
}

td sub {
  font-size: 1.25em;
  bottom: -0.33em;
  padding-left: 0.25em;
}
details kbd {
  background-color: inherit;
}
details pre {
  background-color: #00bc8c;
}
.error pre {
  Rwhite-space: inherit;
}
td:first-child, th:first-child {
  padding-left: 0;
}
td:last-child, th:last-child {
  padding-right: 0;
}

.navbar-brand img {
  height: 2rem;
  margin: -0.5rem 0.2rem -0.5rem -0.3rem;
}

#instantclick {
  pointer-events: none;
  z-index: 2147483647;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  color: hsl(60, 100%, 50%);
  background: currentColor;
  box-shadow: 0 -1px 8px;
  opacity: 0;
}

#instantclick.visible {
  opacity: 1;
  animation: instantclick 1s ease-in infinite;
}

@keyframes instantclick {
  0%,
  5% {
    transform: translateX(-100%);
  }
  45%,
  55% {
    transform: translateX(0%);
  }
  95%,
  100% {
    transform: translateX(100%);
  }
}
.votes-for-delegate td.text-muted {
  text-align: right;
}
.votes-for-delegate td.percent-bar {
  vertical-align: middle;
}

table#delegates td:nth-child(1), #sort-favorites, table#delegates th:nth-child(1) {
  cursor: pointer;
}
table#delegates td:nth-child(2) {
  color: transparent;
  cursor: pointer;
}
table#delegates tr:hover td:nth-child(2) {
  color: #aaa;
}
table#delegates .favorite td:nth-child(2) {
  color: #fff !important;
}
table#delegates .favorite td:nth-child(3) a {
  text-decoration: underline;
  font-size: 120%;
  line-height: 100%;
  letter-spacing: -1px;
}
